In [2]:
import pandas as pd
df = pd.read_csv('survey_results_public.csv')
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [ ]:
#How many respondents completed the survey?

In [16]:
total_respondents = df['ResponseId'].count()
print("Number of total responses:", total_respondents)

Number of total responses: 73268

In [14]:
#How many respondents answered all questions?

In [48]:
df1 = pd.read_csv('survey_results_public.csv')
df2 = pd.read_csv('survey_results_schema.csv')
schema_question_names = df2['qname'].tolist()
existing_column_names = [col for col in schema_question_names if col in df1.columns]
respondents_count = df1.dropna(subset=existing_column_names).shape[0]
print("Number of respondents who answered all questions:", respondents_count)

Number of respondents who answered all questions: 6601

In [ ]:
#What are the measures of central tendency for respondents' work experience (WorkExp)?

In [17]:
median_work_exp = df['WorkExp'].median()
avg_work_exp = df['WorkExp'].mean()
rounded_avg_work_exp = round(avg_work_exp)
m_work_exp = df['WorkExp'].mode()
print(f"Median: {median_work_exp} years")
print(f"Average: {rounded_avg_work_exp} years")
print(f"Moda: {m_work_exp.iloc[0]} years")

Median: 8.0 years
Average: 10 years
Moda: 5.0 years

In [ ]:
#How many respondents work remotely?

In [22]:
remote_count = df[df['RemoteWork'].str.contains('remote', case=False, na=False)].shape[0]
print("Number of respondents with 'remote' in 'RemoteWork':", remote_count)

Number of respondents with 'remote' in 'RemoteWork': 50362

In [ ]:
#Among respondents in the 75th percentile for average compensation and working remotely, what industries are the most prevalent?

In [6]:
seventy_fifth_percentile = df['ConvertedCompYearly'].quantile(0.75)
filtered_df = df[(df['ConvertedCompYearly'] > seventy_fifth_percentile) & (df['RemoteWork'] == 'Fully remote')]
top_industries = filtered_df['MainBranch'].value_counts()
print(top_industries)

I am a developer by profession                                                   5124
I am not primarily a developer, but I write code sometimes as part of my work     382
Name: MainBranch, dtype: int64

In [4]:
#What percentage of respondents program in Python?

In [18]:
python_count = df['LanguageHaveWorkedWith'].str.contains('python', case=False, na=False).sum()
total_respondents = df['ResponseId'].count()
percentage_python_users = (python_count / total_respondents) * 100
print(f"Percentage of respondents who have worked with Python: {percentage_python_users:.2f}%")

Percentage of respondents who have worked with Python: 46.62%

In [ ]:
#How many respondents learned programming through online courses?

In [12]:
online_courses_count = df[df['LearnCode'].str.contains('Online Courses', na=False)].shape[0]
print("Number of respondents who learned programming through online courses:", online_courses_count)

Number of respondents who learned programming through online courses: 33379

In [ ]:
#Among respondents who program in Python, what is the average and median yearly compensation (ConvertedCompYearly) in each country,grouped by country?

In [31]:
python_programmers = df[df['LanguageHaveWorkedWith'].str.contains('Python', na=False)]
grouped_data = python_programmers.groupby('Country')['ConvertedCompYearly'].agg(['mean', 'median'])
grouped_data.columns = ['AverageSalary', 'MedianSalary']
grouped_data = grouped_data.applymap(lambda x: round(x, 0))
print("Average and Median Salary for Python Programmers by Country:")
print(grouped_data)

Average and Median Salary for Python Programmers by Country:
                                      AverageSalary  MedianSalary
Country
Afghanistan                                 84689.0       84689.0
Albania                                     35858.0       16632.0
Algeria                                     17003.0       19196.0
Andorra                                    118020.0      115176.0
Angola                                       2403.0        2403.0
...                                             ...           ...
Venezuela, Bolivarian Republic of...        17744.0       12000.0
Viet Nam                                    41825.0       14244.0
Yemen                                        9000.0        9000.0
Zambia                                       4344.0        4344.0
Zimbabwe                                   195256.0       13200.0

[173 rows x 2 columns]

In [ ]:
#What education levels do the 5 respondents with the highest compensation have?

In [11]:
sorted_data = df.sort_values(by='ConvertedCompYearly', ascending=False)
top_5_respondents = sorted_data.head(5)
education_levels = top_5_respondents['EdLevel']
print(education_levels)

40304    Secondary school (e.g. American high school, G...
201           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
62026         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
70522         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
61043                            Primary/elementary school
Name: EdLevel, dtype: object

In [ ]:
#What is the average yearly compensation (ConvertedCompYearly) grouped by education level (EdLevel)

In [8]:
education_salary_avg = df.groupby('EdLevel')['ConvertedCompYearly'].mean()
print(education_salary_avg)

EdLevel
Associate degree (A.A., A.S., etc.)                                                   192651.58
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          183214.08
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       155733.87
Other doctoral degree (Ph.D., Ed.D., etc.)                                            195173.99
Primary/elementary school                                                             290821.32
Professional degree (JD, MD, etc.)                                                     81958.78
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    143931.80
Some college/university study without earning a degree                                159608.91
Something else                                                                        135111.16
Name: ConvertedCompYearly, dtype: float64

In [ ]:
#In each age category, what percentage of respondents program in Python?

In [36]:
python_df = df[df['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False)]
total_respondents_by_age = df['Age'].value_counts()
python_programmers_by_age = python_df['Age'].value_counts()
percentage_by_age = (python_programmers_by_age / total_respondents_by_age) * 100
percentage_by_age = percentage_by_age.round(2)
print("Percentage of Python programmers in each age group:")
print(percentage_by_age)

Percentage of Python programmers in each age group:
18-24 years old       58.63
25-34 years old       45.20
35-44 years old       39.58
45-54 years old       37.32
55-64 years old       33.22
65 years or older     31.23
Prefer not to say     60.46
Under 18 years old    68.44
Name: Age, dtype: float64